<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">


<!-- 현재 페이지에서만 사용하는 컨텐츠(내용) 정의 -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            board register
        </div>

        <!-- 게시글 리스트 -->
        <div class="card-body">
            <form action="/board/register" method="post" id="createBoardForm">
                <div class="mb-3 row">
                    <label for="title" class="col-form-label ps-4">title</label>
                    <div class="col">
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="content" class="col-form-label ps-4">content</label>
                    <div class="col">
                        <textarea class="form-control" id="content" name="content"></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="writer" class="col-form-label ps-4">writer</label>
                    <div class="col">
                        <input type="text" class="form-control" id="writer" name="writer" value="tester">
                    </div>
                </div>

                <!-- 현재 로그인 사용자와 게시글 작성자가 동일한지 판별하기 위한 항목 -->
                <div class="mb-3 row">
                    <label for="writerId" class="col-form-label ps-4">ID</label>
                    <div class="col">
                        <input type="text" class="form-control" id="writerId" name="writerId" value="test">
                    </div>
                </div>

                <div class="mt-3 d-flex">
                    <a th:href="|@{/board/list?}${link}|" class="link-underline-none">
                        <button type="button" class="btn btn-outline-secondary opacity-50 listBtn">List</button>
                    </a>
                    <div class="ms-auto">
                        <!-- id 이름을 submit, reset 이런 기능있는 애들로 주면 해당 기능이 동작 안함 -->
                        <button type="reset" class="btn btn-outline-warning opacity-50 clearBtn">clear</button>
                        <button type="submit" class="btn btn-outline-success opacity-50 submitBtn">submit</button>
                    </div>
                </div>
            </form>

        </div> <!-- end card-body-->

    </div> <!-- end card -->

</div> <!-- end fragment="content"-->


<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
    #content{
        height:500px;
    }
    .col-form-label {
        width:100px;
    }
</style>

<!-- 현재 페이지에서만 사용하는 script 정의 -->
<script layout:fragment="myscript" th:inline="javascript">

    // ------------------------------------------------ //
    // 게시물 등록 : 게시글 정보, 첨부파일이름 DB에 저장 요청
    // ------------------------------------------------ //

    document.querySelector('.submitBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        const formObj = document.querySelector('#createBoardForm');
        const title = document.querySelector('#title');
        const content = document.querySelector('#content');
        const writer = document.querySelector('#writer');
        console.log(title.value);

        if ((title.value.length < 1 || title.value == "")&&(content.value.length < 1 || content.value == "")) {
            alert("제목과 내용이 비어있습니다!! 😡😡");
            return;

        } else if (title.value.length < 1 || title.value == "") {
            alert("제목이 비어있습니다! 😡");
            return;

        } else if (content.value.length < 1 || content.value == "") {
            alert("내용이 비어있습니다! 😡");
            return;

        }

        if (title.value.length < 3 || title.value.length > 100) {
            alert("3자 이상 100자 이내에 제목을 써주세요~ :b");
            title.focus();
            return;

        }

        if (content.value.length < 3 || content.value.length > 1000) {
            alert("3자 이상 1000자 이내에 글을 써주세요~ :b");
            content.focus();
            return;

        }


        // 값에 이상이 없으면 서버에 전송
        console.log(formObj);

        // html 태그의 id 이름을 submit, reset 이런 기능있는 애들로 주면 해당 기능이 동작 안함
        // id="submit"으로 버튼에 ID를 설정하면, 기본적으로 document 객체에서 submit() 메서드를 덮어쓰게 됩니다. 이 때문에 submit() 메서드를 호출해도 해당 메서드가 아니라 버튼 요소를 참조하게 되어 폼이 제출되지 않습니다.

        formObj.submit();


    })


    // 리셋 버튼

    document.querySelector('.clearBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        location.href="/board/register";
    })



</script>


</html>