<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>webjsp</display-name>
  
  <!-- 불러올 파일이 없을 시 검색해서 아래 중 하나 실행 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- url와 서블릿 맵핑 -->
  
  
  <!-- /webjsp/first url로 들어올시 aaa -> ex01.sam01.E01FirstServlet  -->
  <!-- 
  <servlet>
  	<servlet-name>aaa</servlet-name>
  	<servlet-class>ex01.sam01.E01FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>aaa</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bbb</servlet-name>
  	<servlet-class>ex01.sam01.E01SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bbb</servlet-name>
  	<url-pattern>/second</url-pattern>
  </servlet-mapping>
   -->
   <servlet>
   
  	<servlet-name>sInit3</servlet-name>
  	<servlet-class>ex01.sam04.E03initParamServlet2</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>hong@gmail.com</param-value>
  	</init-param>
  	<init-param>
  		<param-name>tel</param-name>
  		<param-value>010-1234-1234</param-value>
  	</init-param>
   </servlet>
   <servlet-mapping>
  	<servlet-name>sInit3</servlet-name>
  	<url-pattern>/sInit3</url-pattern>
   </servlet-mapping>
   
   
   
   
   <servlet>
  	<servlet-name>loadconfig2</servlet-name>
  	<servlet-class>ex01.sam04.E04LoadAppConfig</servlet-class>
  	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
  	<servlet-name>loadconfig2</servlet-name>	
  	<url-pattern>/Loadconfig2</url-pattern>
   </servlet-mapping>
   
   
   
   
  
  <context-param>
  	<param-name>menu_member</param-name>
  	<param-value>회원등록 회원조회 회원수정 회원탈퇴</param-value>
  </context-param>
  
  <context-param>
  	<param-name>menu_order</param-name>
  	<param-value>주문등록 주문조회 주문수정 주문취소</param-value>
  </context-param>
  
  <context-param>
  	<param-name>menu_goods</param-name>
  	<param-value>상품등록 상품조회 상품수정 상품삭제</param-value>
  </context-param>
  
</web-app>