<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">


<!-- 현재 페이지에서만 사용하는 컨텐츠(내용) 정의 -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            board read
        </div>

        <!-- 게시글 리스트 -->
        <div class="card-body">
            <form id="readForm">

                <div class="mb-3 row">
                    <label for="bno" class="col-form-label ps-4">bno</label>
                    <div class="col">
                        <input type="text" class="form-control" id="bno" name="bno"
                               th:value="${dto.bno}" readonly>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="title" class="col-form-label ps-4">title</label>
                    <div class="col">
                        <input type="text" class="form-control" id="title" name="title"
                               th:value="${dto.title}" readonly>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="content" class="col-form-label ps-4">content</label>
                    <div class="col">
                        <textarea class="form-control" id="content" name="content"
                                  th:text="${dto.content}" readonly></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="writer" class="col-form-label ps-4">writer</label>
                    <div class="col">
                        <input type="text" class="form-control" id="writer" name="writer"
                               th:value="${dto.writer}" readonly>
                    </div>
                </div>

                <!-- 4. 게시글 등록일, 수정일 -->
                <div class="mb-3 row">
                    <label for="regDate" class="col-form-label ps-4">regDate</label>
                    <div class="col">
                        <input type="text" class="form-control" id="regDate" name="regDate"
                               th:value="${dto.regDate}" readonly>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="modDate" class="col-form-label ps-4">modDate</label>
                    <div class="col">
                        <input type="text" class="form-control" id="modDate" name="modDate"
                               th:value="${dto.modDate}" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="my-4">
                            <button class="btn btn-outline-info opacity-50 addReplyBtn">Add reply</button>
                        </div>
                        <div>
                            <ul class="list-group replyList">
                                댓글리스트
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 댓글 페이징 -->
                <div class="row mb-3">
                    <div class="col">
                        <ul class="pagination replyPaging">
                            댓글 페이징 번호
                        </ul>
                    </div>
                </div>


                <!-- Axios 라이브러리 연결 -->
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="/js/reply.js"></script>

                <hr>

                <!-- 5. list, modify 버튼 -->
                <div class="mt-3 d-flex" th:with="link=${pageRequestDTO.getLink()}">  <!-- class="float-end" 끝에 배치 -->
                    <!-- 현 글번호에 대한 페이징 정보를 넘겨받아서 list요청시 페이징 정보와 같이 요청하면
                         현재 글번호가 해당되는 list페이지가 추출됨 -->
                    <a th:href="|@{/board/list?}${link}|" class="link-underline-none">
                        <button type="button" id="List" class="btn btn-outline-danger opacity-50 listBtn">list</button>
                    </a>

                    <button type="button" id="Remove" class="btn btn-outline-danger opacity-50 removeBtn ms-auto">remove</button>

                    <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="link-underline-none ms-1">
                        <button type="button" id="Modify" class="btn btn-outline-danger opacity-50 modifyBtn">modify</button>
                    </a>

                </div>
            </form>

        </div>

    </div>

    <!-- 등록화면 모달창 -->
    <div class="modal modalRegister" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="input-control replyText">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">replyer </span>
                        <input type="text" class="input-control replyer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">Register</button>
                    <button type="button" class="btn btn-secondary closeRegisterBtn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글 조회 모달창 -->
    <div class="modal modalModify" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="input-control modifyText">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary removeReplyBtn">Delete</button>
                    <button type="button" class="btn btn-primary modifyReplyBtn">Modify</button>
                    <button type="button" class="btn btn-secondary closeModifyBtn">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>  <!-- end fragment="content"-->



<!-- 현재 페이지에서만 사용하는 css 정의 -->
<style layout:fragment="mystyle" th:inline="css">
    #content{
        height:500px;
    }
    .col-form-label {
        width:110px;
    }
</style>

<!--/* 현재 페이지에서만 사용하는 script 정의 */-->
<script layout:fragment="myscript" th:inline="javascript">
    console.log('bno3',bno);
    const reply_bno = [[${dto.bno}]];
    console.log('reply_bno: ',reply_bno);


    // -------------------------------------------------//
    // 특정 게시글에 대한 댓글 조회 : axios(비동기) 요청 테스트
    // -------------------------------------------------//
    // 비동기 처리 방식
    /*
    getReply(reply_bno)
    .then(data => {
    console.log("data: ",data);
    console.log("data.list: ",data.list);
    })
    .catch(e =>{console.log(e)})
    */
    // -------------------------------------------------//

    const replyBnoList = document.querySelector('.replyList');  // 댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging');  // 페이지 목록 DOM

    // 4. 페이징 처리
    function printPages(data) {
        console.log("paging: " ,data);
        // pagination
        let pageStr = '';

        // 이전
        if(data.prev) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.start-1}">이전</a></li>`;
        }

        // 페이지 번호
        for (let i=data.start; i<=data.end; i++) {
            pageStr +=`<li class="page-item ${i==data.page?'active':''}"><a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        // 다음
        if(data.next) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.end+1}">다음</a></li>`;
        }

        replyPaging.innerHTML = pageStr;
    }

    // 3. 서버로부터 받아온 댓글을 DOM을 구성할 수 있는 문자열 생성 및 DOM생성
    function printList(replyList) {
    let str='';

        // 댓글이 1개 이상이면 처리
        if(replyList && replyList.length > 0) {

            for(const dto of replyList) {
            str += `
                <li class="list-group-item d-flex gap-4 replyItem">
                <span class="">${dto.rno}</span>
                <span class="col" data-rno="${dto.rno}">${dto.replyText}</span>
                <span class="">${dto.replyer}</span>
                <span class="">${dto.regDate}</span>
                </li>`;

            } // endfor

        } // end if

        console.log("list: ",str);
        replyBnoList.innerHTML = str;

    } // end function

    // 2. 게시글에 대한 댓글 서버에 요청해서 data받아오기
    function printReplies(page,size, goLast) {

        // 비동기 처리 함수 호출
        getList(reply_bno, page, size, goLast)
            .then(data=> {
                // console.log("data.list: ",data.list, { params: {page, size} });
                console.log("data.dtoList: ",data.dtoList, { params: {page, size} });

                printList(data.dtoList);  // 댓글 목록 처리하는 함수 호출
                printPages(data); // 페이징
            }).catch();
    }

    // 1. 게시글에 대한 댓글을 요청하는 함수 실행(호출)
    let page = 1;
    let size = 3;
    printReplies(page, size, true);

    // 5. 댓글 등록 모달
    // 6. 이벤트 처리
    // 6-1 페이지 번호 클릭


    replyPaging.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;
        if (target.tagName != 'A') {
            return;
        }

        // <a> 태그일 경우만 처리
        // 현재 클릭한 태그 요소의 페이지 번호 추출
        const pageNum = target.getAttribute("data-page");
        page = pageNum;

        printReplies(page, size);


    });

    document.querySelector('.removeBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        // **

        let doubleChk = confirm('삭제하시겠습니까?');
        if (doubleChk) {
            const formObj = document.querySelector('form');
            formObj.action = "/board/remove?"+[[${dto.bno}]];
            formObj.method = "post";
            formObj.submit();
        }
    })


    //-----------------------//
    // 댓글 등록 모달창
    //-----------------------//

    const modalRegister = new bootstrap.Modal(document.querySelector('.modalRegister'));
    const registerBtn = document.querySelector('.registerBtn');
    const closeRegisterBtn = document.querySelector('.closeRegisterBtn');

    const replyText = document.querySelector('.replyText');
    const replyer = document.querySelector('.replyer');

    // 모달 창 띄우기
    document.querySelector('.addReplyBtn').addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        modalRegister.show();
    })

    // 모달 댓글 등록 버튼
    registerBtn.addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        console.log('register click');

        // 전송할 data를 JSON객체로 선언
        const replyObj = {
            bno: reply_bno,                   // 댓글에 대한 게시글 번호
            replyText: replyText.value, // 댓글 내용
            replyer: replyer.value      // 댓글 작성자
        }
        console.log("전송할 JSON객체: ", replyObj);

        // 비동기 처리방식으로 data 서버에 보내기
        addReply(replyObj).then(result=> {
            console.log("result: ",result);
            console.log("result.rno: ",result.rno);
            alert(result.rno);

            modalRegister.hide();   // 모달 창 닫기
            replyText.value='';     // 댓글 내용 clear
            replyer.value='';       // 댓글 작성자 clear

            // 댓글 등록한 후 댓글 List 호출
            printReplies(1, 10, true) // true를 설정하면 마지막 페이지를 불러옴

        }).catch(e=> alert("에러났다옹!\n\n"+e));

    })

    // 모달창 닫기 버튼
    closeRegisterBtn.addEventListener('click', function(e) {
        e.preventDefault();  // 기본 이벤트 제거
        e.stopPropagation();  // 버블링(현재 이벤트가 발생한 요소의 상위 요소들에 대해서 이벤트 감지되는 현상) 방지

        modalRegister.hide();
    })


    //-----------------------//
    // 댓글 조회 및 수정 모달창
    //-----------------------//

    const modalModify = new bootstrap.Modal(document.querySelector('.modalModify'));
    const replyList = document.querySelector('.replyList');

    const replyHeader = document.querySelector('.replyHeader');  // 모델창의 제목
    const modifyText = document.querySelector('.modifyText');    // 댓글 내용

    const removeReplyBtn = document.querySelector('.removeReplyBtn');  // 삭제버튼
    const modifyReplyBtn = document.querySelector('.modifyReplyBtn');  // 수정버튼
    const closeModifyBtn = document.querySelector('.closeModifyBtn');  // 창 닫기 버튼

    replyList.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();

         const target = e.target;
        if (target.tagName != 'SPAN') {
            return;
        }

        // <span> 태그일 경우만 처리
        // 현재 클릭한 태그 요소의 댓글 번호(rno) 추출
        const rno = target.getAttribute("data-rno");
        if(!rno) {  // 값이 없으면, 비어있으면
            return;
        }

        // 댓글 번호가 있으면 처리
        getReply(rno)
        .then(reply => {
            console.log("reply: ",reply);

            replyHeader.innerHTML = reply.rno+"번 댓글";
            modifyText.value = reply.replyText;

            console.log(modalModify);
            modalModify.show();  // 수정 모달창 표시


        }).catch(e=> alert('에러다옹!\n'+e));

    })

    // 댓글 수정 버튼
    modifyReplyBtn.addEventListener('click', function(e) {
        console.log("modify");

        const replyObj = {
            bno: reply_bno,                 // 댓글에 대한 게시글 번호
            rno: replyHeader.innerHTML,     // 댓글 번호
            replyText: modifyText.value     // 댓글 내용
        }

        // 비동기 처리 요청
        modifyReply(replyObj)
        .then(result=> {
            alert(result.rno+"댓글이 수정되었다옹~");

            modalModify.hide();
            replyText.value = "";

            // 첫 페이지부터 댓글 List 조회
            page = 1;
            printReplies(page, size);

        }).catch(e=>alert("또 에러냐옹?"+e));

    })

    // 댓글 삭제 버튼
    removeReplyBtn.addEventListener('click', function(e) {
        console.log("remove");

        let isOK = confirm("정말 삭제하겠나옹?");
        if (!isOK) return;

        // 삭제여부(isOK)가 확인(true)이면 처리
        let rno = replyHeader.innerHTML;

        // 비동기 처리 요청
        removeReply(rno)
        .then(result=> {
            alert(result.rno+"댓글이 수정되었다옹~");

            modalModify.hide();
            replyText.value = "";

            // 첫 페이지부터 댓글 List 조회
            // page = 1;
            // printReplies(page, size);

            // 마지막 페이지부터 조회
            printReplies(page, size, true);

        }).catch(e=>alert("또 에러냐옹?"+e));

    })

    // 창 닫기 버튼
    closeModifyBtn.addEventListener('click', function(e) {
        console.log("close");
        modalModify.hide();

    })





</script>

</html>