/* 초기화 */
* {
    margin: 0;
    padding: 0;
    ul, li { list-style: none;}
    a { text-decoration: none;}
}
.con2 .container {
    width: 460px;
}
.con2 a {
    border: 1px solid black;
    border-radius: 6px;
}
.con2 ul {
    border: 1px solid black;
}
.con3 .container {
    width: 460px;
}
.con3 table {
    border: 1px solid black;
}
.con4 .container {
    width: 460px;
}
.con5 img {
    width: 460px;
}
.foot1 .container {
    width: 460px;
}
.foot1 li {
    font-size: 12px;
    padding: 0;
}