@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    ul, li { list-style: none;}
    a { text-decoration: none;}
}
/* 속성에 대한 변수 활용 */
/* 기본 색상 */
body {
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}
/* .container, .box, .container>div {
    border: 1px solid black;
} */
.conA {
    height: 100vh; min-height: 450px;   
    background-image: 
        linear-gradient(rgba(255,0,0,0.1), rgba(0,0,255,0.1)),
        url(../img/fruits.jpg);
    background-size: cover;
    background-position: center; /* 가로 세로 가운데 */
}
.conA h1 {
    margin-bottom: 10px;
    /* font-size: 48px; */
    /* 화면 320px 기준 48px 적용 */
    font-size: 15vw;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2em;
    margin-left: 0.2em; /* letter-spacing으로 인한 불균형 조정 */
}
/* 미디어 쿼리 : 해상도별로 조건 처리 */
@media (min-width: 768px) {
    .conA {
        height: 600px;
    }
    .conA h1 {
        font-size: 115px;
    }
    .conA p {
        font-size: 24px;
    }
}
.conB .icon {
    /* inline -> inline-block으로 전환 */
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    /* 폰트 크기 기준 */
    width: 2em; /*2배*/
    /* height: 2em; line-height를 똑같이 높이면 height랑 똑같아짐*/
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    background-color: var(--icon-bk-color);
    color: var(--icon-color);
}
.conC .photo {
    min-height: 250px;
    background-image: url(../img/note.jpg);
    background-size: cover; 
    background-position: center;
}
.conC p {
    line-height: 1.8;
}
.conD .photo {
    min-height: 250px;
    background-image: url(../img/life.jpg);
    background-size: cover;
    background-position: center;
}
.conD p {
    line-height: 1.8;
}
.footB a {
    display: block;
}
.footB a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}