/* 초기화 */
* {
    margin: 0;
    padding: 0;
    ul, li { list-style: none;}
    a { text-decoration: none;}
}
:root {
    --naver-color: #03C75A;
}
.f-naver {
    color: var(--naver-color);
}
.bg-naver {
    background-color: var(--naver-color);
    color: white;
}
.con2 .container {
    width: 460px;
}
.con2 a {
    border: 1px solid lightgray;
    border-radius: 6px;
}
.con2 a:active {
    background-color: rgba(0, 140, 255, 0.5);
}
/* .con2 a:focus {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */
.con3 .container {
    width: 460px;
}
.con3 input:checked {
    background-color: var(--naver-color);
}
.con3 button {
    display: block;
    border: 0;
    width: 384px;
}
.con4 .container {
    width: 460px;
}
.con5 img {
    width: 460px;
}
.foot1 .container {
    width: 460px;
}
.foot1 li {
    font-size: 12px;
    padding: 0;
}
.foot1 h5 {
    color: var(--naver-color);
    font-size: 17px;
    line-height: 16px;
}
.foot1 p {
    font-size: 12px;
}