.Editor {
    
    text-align: left;
    padding-left: 25px;
    padding-bottom: 20px;

}
.Editor h4 {
    font-size: 30px;
}
.Editor input, textarea {
    background-color: rgba(255, 255, 255, 0.301);
    border: 1px solid lightsalmon;
    border-radius: 5px;
    padding: 20px;
    /* outline 클릭시 적용되는 스타일 */
    outline: none; 
    margin-bottom: 20px;
}

.Editor textarea {
    width: 100%;
    min-height: 200px;
}
.Editor .emotion_list_wrapper {
    display: flex;
    justify-content: space-around;
    gap: 3%;
}